html,
body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#nav{
  background-color: #2F3243;
  color:#ffffff;
} 

.menu-item{
  color: #7981a6;
  padding: 10px;
}

.menu-item:hover{
  color:#ffffff;
  cursor: pointer;
}

.tile.is-parent:not(:nth-of-type(1)){
  padding-top: 0;
}

.tile.is-parent{
  padding-bottom: 0;
}

.material-icons.md-36 { font-size: 36px; }
